/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: 'Roboto';
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 40px auto;
}

.signupText {
  text-align: center;
}

.signupSumit {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  border-top: 2px solid #dcdcdc;
}
